/*Reset browser present stylings*/
*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navigation Section*/
nav{
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
nav div{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
nav div img{
  width: 200px;
}
nav div h2{
  color: dodgerblue;
}
nav div button{
  padding: 10px 24px;
  background-color: dodgerblue;
  color: white;
  border-radius: 11px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
nav div button:hover{
  background-color: white;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}

/*nav div div{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: darkslategrey;
}*/

/*Hero Section*/
#hero{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 100px;
  gap: 20px;
}
#hero h1 {
  text-align: center;
  font-size: 48px;
  margin: 20px;
}
#hero h1 span{
  color: dodgerblue;
}
#get-started{
  padding: 20px;
  margin-top: 20px;
  background-color: dodgerblue;
  font-size: 48px;
  border: none;
  color: white;
  border-radius: 10px;
}
#get-started:hover{
  background-color: white;
  border: 2px solid dodgerblue;
  color: dodgerblue;
}
.hero-container{
  width: 1000px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.075);
}
.first-layer{
  display: flex;
  flex-direction: row;
  background-color: #ebf3fe;
  justify-content: space-between;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.output{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
}
.output p{
  color: rgba(56, 58, 59, 0.548);
}
.output p:hover{
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
}
.summary-strength{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
  width: 50%;
}
.summary-strength div{
  display: flex;
  flex-direction: row;
}
.second-layer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-block: 20px;
  font-weight: 500;
}
.paste-field p{
  padding-left: 20px;
}
.summary-field{
  width: 50%;
  border-left: 1px solid black;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paste-text{
  display: flex;
  justify-content: center;
  width: 500px;
  padding-block: 30px;
}
.paste-text div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  width: 200px;
  padding-block: 5px;
}
.words{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.words button{
  margin-right: 30px;
  background-color: dodgerblue;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.words button:hover{
  background-color: white;
  border: 2px solid dodgerblue;
  color: dodgerblue;
}

/*About-Us Section*/
#about-us{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#about-us h2{
  font-size: 50px;
}
#about-us h2 span{
  color: dodgerblue;
}
#about-us div{
  width: 700px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(59, 57, 57, 0.747);
}

/*Features Section*/
#features{
  background-color: white;
  padding: 100px 0;
}
#features div h2{
  text-align: center;
  padding-bottom: 10px;
  color: black;
  font-size: 50px;
  margin: 24px;
}

#features table{
  border-collapse: collapse;
  border-radius: 10px;
  background-color: white;
  margin: 0px auto;
}

#features table td{
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  height: 40px;
  width: 40%;
  font-size: 20px;
  font-weight: bold;
}

#features table tr:nth-child(even){
  background-color: #ebf3fe;
}

/*Subscribe Section*/
#subscribe{
  background-color: #ebf3fe;
  padding: 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
}
#subscribe h1{
  color: dodgerblue;
  font-size: 35px;
}
#subscribe div input{
  width: 400px;
  border-radius: 20px;
  padding-block: 10px;
  padding-left: 20px;
  border: 1px solid dodgerblue;
}
#subscribe div button{
  background-color: dodgerblue;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}
#subscribe div button:hover{
  background-color: white;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}
#subscribe p{
  font-weight: bold;
  font-size: 17px;
  color: rgba(59, 57, 57, 0.747);
}

/*Contact-us Section*/
#contact-us{
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-block: 20px;
  background-color: black;
  padding-top: 60px;
  height: 300px;
}
#contact-us div div{
  text-align: left;
  color: rgba(255, 255, 255, 0.664);
}
.copyright{
  text-align: center;
  color: rgba(255, 255, 255, 0.664)
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  gap: 20px;
}
.container div h4{
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.quicksumm{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.quicksumm div{
  display: flex;
  flex-direction: row;
}
.quicksumm div img{
  width: 200px;
  margin-bottom: 10px;
}
.quicksumm div p{
  width: 300px;
}
.social-icon{
  width: 30px;
  height: 30px;
}